@import 'normalize.css/normalize.css';
@import 'mixins.scss';

*, :after, :before {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Noto Sans TC', sans-serif;
  color: $text-default-color;
  font-size: $base-font-size;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;

  @include hover('primary') {
    cursor: pointer;
  }
}

hr {
  border: 0;
  border-top: 1px solid $secondary-bg;
}

img,
svg {
  vertical-align: middle;
}

::placeholder {
  line-height: normal;
}
