// Card (Panel)
@mixin card-primary {
  background: $default-bg;
  border: 1px solid $gray-quaternary;
  border-radius: $border-radius;
  @include shadow-01;
}

@mixin card-secondary {
  background: $default-bg;
  @include shadow-02;
}
