@mixin countdown-timer-digital {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 2px;
  border: 1px solid $primary-light-color;
  font-size: 0.875rem;
}

@mixin countdown-timer-delimiter {
  display: inline-flex;
}
