@mixin input {
  width: 100%;
  height: 40px;
  min-height: 40px;
  padding: 10px 12px;
  border: 0;
  background: $input-field-default-bg;
  border-radius: $border-radius;
  color: $gray-primary;
  user-select: none;

  &:focus {
    outline: 0;
    padding-bottom: 8px;
    border-bottom: 2px solid $secondary-color;
  }

  &::placeholder {
    color: $gray-tertiary;
    letter-spacing: normal;
  }

  &:disabled {
    color: $gray-tertiary;
    background: $secondary-bg;
    cursor: not-allowed;
  }

  &.error {
    border: 1px solid $error-color;
    padding: 9px 11px;
  }

  &[type="password"]:not(:placeholder-shown) {
    font-family: caption;
    letter-spacing: 4px;
  }
}
