// Utilities variables

// Displays
$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;

// Spacing
$spacer: 1rem !default;
$spacers: () !default;

$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .375),
    3: ($spacer * .5),
    4: ($spacer * .75),
    5: $spacer,
    6: ($spacer * 1.25),
    7: ($spacer * 1.5),
    8: ($spacer * 1.75),
    9: ($spacer * 2)
  ),
  $spacers
);

// Z-index list
$z-index: (
  'header': 1000,
);
